<a href="https://colab.research.google.com/github/vinalyan/pytonDS/blob/lession--5/Kozhemyakin_Vitaliy_Kurs_PythonDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

* `Id` - идентификационный номер квартиры
* `DistrictId` - идентификационный номер района
* `Rooms` - количество комнат
* `Square` - площадь
* `LifeSquare` - жилая площадь
* `KitchenSquare` - площадь кухни
* `Floor` - этаж
* `HouseFloor` - количество этажей в доме
* `HouseYear` - год постройки дома
* `Ecology_1, Ecology_2, Ecology_3` - экологические показатели местности
* `Social_1, Social_2, Social_3` - социальные показатели местности
* `Healthcare_1, Helthcare_2` - показатели местности, связанные с охраной здоровья
* `Shops_1, Shops_2` - показатели, связанные с наличием магазинов, торговых центров
* `Price` - цена квартиры

In [35]:
df = pd.read_csv('/content/sample_data/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

Посмотрим на значения в колонках 
* Ecology_2
* Ecology_3      
* Shops_2

In [36]:
df['Ecology_3'].unique(), df['Ecology_2'].unique(), df['Shops_2'].unique()

(array(['B', 'A'], dtype=object),
 array(['B', 'A'], dtype=object),
 array(['B', 'A'], dtype=object))

Видно, что это категориальные данные. Преобразуем из в циверки.

In [37]:
df.Ecology_2 = df.Ecology_2.replace('A', 0)
df.Ecology_2 = df.Ecology_2.replace('B', 1)

df.Ecology_3 = df.Ecology_3.replace('A', 0)
df.Ecology_3 = df.Ecology_3.replace('B', 1)

df.Shops_2 = df.Shops_2.replace('A', 0)
df.Shops_2 = df.Shops_2.replace('B', 1)

In [38]:
df['Ecology_3'].unique(), df['Ecology_2'].unique(), df['Shops_2'].unique()

(array([1, 0]), array([1, 0]), array([1, 0]))

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  int64
 11  Ecology_3      10000 non-null  int64
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  int64
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(12)
memory usage: 1.5 MB